#container {
	margin: 100px auto;
	width: 700px;
	color: #555;
}

#buttonStart {
margin-left: auto;
    margin-right: auto;
    width: 20%;

}

#countdown_dashboard {
	height: 110px;
}

.dash {
	width: 220px;
	height: 228px;
	background: transparent url('../images/dashDouble.png') 0 0 no-repeat;
	float: left;
	margin-left: 20px;
	position: relative;
}

.dash .digit {
	font-size: 110pt;
	font-weight: bold;
	float: left;
	width: 110px;
	text-align: center;
	font-family: Times;
	color: #555;
	position: relative;
}

.dash_title {
	position: absolute;
	display: block;
	bottom: 0px;
	right: 6px;
	font-size: 9pt;
	color: #555;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.faded {
	color: #999;
}
